﻿
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="form-group">
                <label>Fecha de Recepción</label>
                <input type="text" class="form-control datepicker" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Estado de Solicitud</label>
                <select class="form-control"></select>
            </div>
        </div>
    </div>
</div>
