﻿<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="form-group">
                <label>Fecha de Recepción</label>
                <input type="text" class="form-control datepicker" />
            </div>
            <div class="form-group">
                <label>Proveedor</label>
                <select class="form-control"></select>
            </div>
            <div class="form-group">
                <label>Precio</label>
                <input type="text" class="form-control money" />
            </div>
            <div class="form-group">
                <label>Estado de Solicitud</label>
                <select class="form-control"></select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Tipo de Reasignación</label>
                <select class="form-control"></select>
            </div>
            <div class="form-group">
                <label>Caracteristicas</label>
                <textarea class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>
