﻿
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="form-group">
                <label>Folio de Requisición</label>
                <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label>Aprovador/Jefe Directo</label>
                <select class="form-control"></select>
            </div>
            <div class="form-group">
                <label>Solicitante</label>
                <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label>Fecha de Solicitud</label>
                <input type="text" class="form-control datepicker" />
            </div>
            <div class="form-group">
                <label>Bien/Servicio/Producto</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Caracteristicas</label>
                <textarea class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Cantidad</label>
                <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label>Fecha Requerida</label>
                <input type="text" class="form-control datepicker" />
            </div>
            <div class="form-group">
                <label>Estado de Solicitud</label>
                <select class="form-control"></select>
            </div>
        </div>
    </div>
</div>
