﻿
@{
    ViewBag.Title = "Index";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/DesktopModules/MVC/PurchaseRequestModule/StyleSheets/form_wizard.css" rel="stylesheet" />
<link href="~/DesktopModules/MVC/PurchaseRequestModule/StyleSheets/datepicker.css" rel="stylesheet" />


@Html.Partial("_FormWizard")

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="~/DesktopModules/MVC/PurchaseRequestModule/Scripts/form_wizard.js" type="text/javascript"></script>
<script src="~/DesktopModules/MVC/PurchaseRequestModule/Scripts/datepicker.js"></script>
<script src="~/DesktopModules/MVC/PurchaseRequestModule/Scripts/jquery.mask.js"></script>
<script src="~/DesktopModules/MVC/PurchaseRequestModule/Scripts/site.js"></script>